<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
     <h2 id="now">Giá hiện tại : <span class="priceNow"></span></h2>  
    <div class="coitainer">
    <form id="form-price" action="btc-price" method="POST">
        <div class="header">
            <h1 class="warning">THÊM CẢNH BÁO</h1>
            <h3>Coin</h3>
            <div class="col-4">
            <select name="coinType" class="form-control">
                <option selected></option>
                <option value="BTC/USDT">BTC/USDT</option>
                <option value="BAKE/USDT">BAKE/USDT</option>
            </select>
            </div>
            <!-- <div class="currentPrice">
                <h2 id="btc">Giá hiện tại : <span class="current-btc"></span></h2>  
                
            </div> -->
        </div>
        <div class="content">
            <h2>Cài đặt giá</h2>
            <div class="find">
                <div class="button" style="margin-right: 20px;">
                    <input class="form-check-input" type="radio" name="increase/decrease" value="increase">Tăng</input>
                    <br>
                    <input class="form-check-input" type="radio" name="increase/decrease" value="decrease">Giảm</input>
                </div>
                <div class="">
                    <input class="form-control" onchange="checkData()" id='number' name = "number" type="text" placeholder="Giá trị tăng Giảm">
                </div>
                <div class=" calendar">
                    <input class="form-control" onchange="checkData()" id='percent' name="percen" type="text" placeholder="Đơn vị">
                </div>
                <div class=" calendar">
                    <select class="form-control" name="hour" aria-placeholder="Trong khoảng">
                        <option selected></option>
                        <option value="15">15 phút</option>
                        <option value="60">1 giờ</option>
                        <option value="120">2 giờ</option>
                        <option value="240">4 giờ</option>
                        <option value="720">12 giờ</option>
                        <option value="1440">24 giờ</option>
                    </select>
                </div>
            </div>
            <input checked='false' style="display: none;" type="checkbox" name="checkNotify" id="checkNotify" />
        </div>
        <div class="footer">
            <h2>Thông báo tới</h2>
            <div class="tele col-4">
                <input class="form-control" name = "Telename"type="text" placeholder="Gõ tên tại đây">
            </div>
            <div class="onclick form-group">
                <button class="btn btn-secondary" name="resufe" type="reset">Hủy</button>
                <button class="btn btn-success" name = "Successful"type = "submit" id = "demo" onclick="myFunction()">Lưu</button>
            </div>
        </div>
        <div style="clear: both;"></div>
    </form>
    </div>
        <script>
            function myFunction() {
                alert("Thông tin đã lưu thành công");
            }
        </script>
        <script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>

<script>

    function checkData() {
        var number = 0;
        var percent = 0;
        var perc = document.getElementById('percent').value;
        var num = document.getElementById('number').value;  
        if (num.trim() == '') {             // check giá trị có chưa? ví dụ nhập nguyên dấu cách là chưa có. .trim() là hàm loại bỏ dấu cách ở 2 đầu của chuỗi.
            number = 0                      // Nếu chưa có giá trị thì set = 0 để tính toán.
        } else {
            number = parseInt(num);         // Có giá trị thì convert về kiểu số nguyên.
        }
        if (perc.trim() == '') {            // Tương tự trên.
            percent = 0;
        } else {
            percent = parseInt(perc.replace("%", ""));      // Xóa kí tự % khi người dùng nhập 15% thì giá trị sẽ là 15.
        }
        if ((number - percent) > 0)             // Check x > y đúng thì set giá trị của trường checkNotify = true. sai thì = false.
        {
            document.getElementById('checkNotify').checked = true;
        } else {
            document.getElementById('checkNotify').checked = false;
        }
    }

</script>
 <script src="main.js"></script>
</html>