<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>vuejs</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/main.js" type="module"></script>
    </head>
    <body>
        <div class="coitainer">
            <div class="header">
                <h1 class="warning">CẢNH BÁO</h1>
                <a href="http://localhost:9683/btc-price"><button class="button">+</button></a>
            </div>
            <h2 id="btc">Giá hiện tại : <span class="current-btc"></span></h2>
            <div class="content">
                <table border="0" id="bang">
                    <thead>
                        <tr>
                            <th>Coin</th>
                            <th>Giá hiện tại</th>
                            <th>Cài đặt giá</th>
                            <th>Trong khoảng</th>
                            <th>Thong báo tới</th>
                            <th>Chỉnh sửa/xóa</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="edit-actions">
                    <button type="button" id="btnSave">Lưu</button>
                    <button type="button" id="btnCancle">Hủy</button>
                </div>
                <table border ="0" id = "bang1"></table>
               
            </div>
            <div class="footer">
                <div class="foot">
                    <h2>CÁC TIN NHẮN ĐÃ GỬI</h2>
                    <p> 20/7/2021 10:00:02: BTC giá 45.000& (tăng 2000& so với
                        15m trước)- được thông báo tới @minh @kienle</p>
                    <p> 21/7/2021 16:00:02: BTC giá 8& (tăng 1& so với 15m
                        trước)- được thông báo tới @minh</p>
                </div>
            </div>
        </body>
        <!-- <script src="main.js"></script> -->
    </html>